# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# ChromaDB
chroma_db/
*.db

# OS files
.DS_Store
Thumbs.db
